<%= turbo_stream_from "weather_updates" %>
<%= turbo_stream_from "address_suggestions" %>

<h2>Weather Forecast</h2>

<div class="w-full">
  <div class="flex flex-col relative">
    <div class="flex items-start gap-4">
      <form data-controller="address" data-turbo-frame="address-suggestions" action="/api/v1/suggestions" method="get">
        <input
          placeholder="Start typing your address..."
          autocomplete="off"
          id="address-search"
          type="text"
          name="query"
          class="tom-select"
          />
      </form>

      <%= turbo_frame_tag "address-errors", class: "relative z-50" do %>
      <% end %>
    </div>

    <%= turbo_frame_tag "address-suggestions" do %>
    <% end %>

    <div class="p-4">
      <%= turbo_frame_tag "current-weather" do %>
      <% end %>

      <%= turbo_frame_tag "forecast" do %>
      <% end %>
    </div>
  </div>
</div>